@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/keyframes';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.portalfolio__map {
  padding: 5%;
  & img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    @include centerFlex;
  }
}
.portafolio__card {
  &--content {
    padding: 1rem;
    &---cards {
      @include transition_all;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &--text {
    color: $warm_oj-1;
    background: $pal-1_dark;
    text-align: center;
    @include breakpoint(mobile) {
      @include font-size($small-font-sizes);
      //  white-space: nowrap;
    }
    @include breakpoint(desktop) {
      @include font-size($small-font-sizes);
    }
  }
}
