@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/keyframes';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables.module';

.portfolio__page {
  .about__banner-desc-content {
    &--text {
      &::after {
        border-bottom: none !important;
      }
    }
  }
}

.portafolio__card {
  img {
    width: auto;
    height: auto;
  }
  &--content {
    padding: 1rem;
    &---cards {
      @include transition_all;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &--text {
    color: $warm_oj-1;
    background: $pal-1_dark;
    text-align: center;
    @include breakpoint(mobile) {
      @include font-size($small-font-sizes);
      //  white-space: nowrap;
    }
    @include breakpoint(desktop) {
      @include font-size($small-font-sizes);
    }
  }
}

.portafolioDetail__container {
  margin: 2rem auto;
  &-title {
    @include font-size($h1-font-sizes);
    text-align: center;
  }
  &-location {
    text-align: center;
  }
  .portafolioDetail__content {
    // @include centerFlex;
    margin: 0 auto;
    // min-height: 350px;
    &-description {
      &--title {
        text-align: center;
        @include breakpoint(mobile) {
          text-align: start;
        }
        @include font-size($p-font-sizes);
      }
      &--text {
        @include font-size($p-font-sizes);
        @include breakpoint(laptop) {
          @include font-size($a-font-sizes);
        }
        @include breakpoint(tablet_land) {
          @include font-size($a-font-sizes);
        }
        @include breakpoint(tablet_port) {
          @include font-size($a-font-sizes);
        }
      }
    }
    &-carousel {
      @include breakpoint(mobile) {
        min-height: 100px;
      }
    }
  }
}
