@import '../../../styles/Vars.scss';

.portafolio__container {
  background-color: $pal-1_gray-1;
  color: $pal-2_white;
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  @include centerFlex;
  align-items: center;
}
