@import '../Vars.scss';

.about__container {
  margin-top: 50px;
  // display: flex;
  height: 100vh;
  background-color: red;
}

.about__hero {
  background-image: url('../../statics/images/hero_about_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: auto;
  display: flex;
  align-items: center;
  & h1 {
    text-align: center;
    color: $warm_gray;
  }
}

.about__content {
  display: flex;
  & p {
    width: 40%;
    float: left;
    margin: 5%;
  }
  & img {
    margin: 5%;
    float: right;
    width: 40%;
    height: auto;
  }
}
