@import '../Vars.scss';

.about__container {
  margin-top: 50px;
  // display: flex;
  height: auto;
  background-color: $pal-2_light-dark;
}

.about__hero {
  background-image: url('../../statics/images/test_ban_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.7;
  & h1 {
    text-align: center;
    color: $warm_gray;
  }
}

.about__bio-content {
  display: flex;
  width: 100%;
  height: auto;

  .about__left-section {
    background-color: rebeccapurple;
    width: 100%;

    .about__left-section-content {
      @include keyframes;
      @include animationBorder;
      width: 50%;
      margin: 15%;
      padding: 2rem;

      &:hover {
        animation-play-state: running;
      }
    }
  }

  .about__right-section {
    background-color: salmon;
    width: 100%;

    .about__right-section-content {
      margin: 5%;
      padding: 2rem;
      height: auto;
      & img {
        border: 1px solid red;
        // margin: 5%;
        float: right;
        width: 100%;
        height: auto;
        // padding: 2rem;
      }
    }
  }
}

.about__banner-container {
  background-color: $pal-1_dark;
  width: 100%;
  height: auto;
  // border: 3px solid yellow;
  display: flex;
}

.about__banner-card-detail {
  background-color: $pal-1_gray-2;
  border-radius: 5px;
  // border: 1px solid red;
  display: flex;
  margin: 3rem 5.83%;
  width: 25%;
  ul {
    margin: 1rem;
  }
  li {
    text-align: left;
    text-transform: lowercase;
    // margin-top: 1rem;
  }
}

.about__section-bottom {
  width: 100%;
  height: auto;
  background-color: $pal-1_gray-2;
  &--content {
    height: 450px;
  }
}
