@import "../../../styles/animations";
@import "../../../styles/fonts";
@import "../../../styles/keyframes";
@import "../../../styles/media";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.contact__container {
    background-color: white;
    color: black;
    margin-top: 50px;
    width: 100%;
    @include centerFlex;
    align-items: center;
}
.full_w {
    width: 100%;
}
.text_center {
    text-align: center;
}
.form__container {
    max-width: 1200px;
    h1 {
        @include font-size($h1-font-sizes);
    }
    .dyv__row {
        margin: 0;
    }
    figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
.no_padding {
    padding: 0 !important;
}
.mobile_col {
    @include breakpoint(mobileonly) {
        width: 100%;
    }
}