$pal-1_dark: #202020;
$pal-1_gray-1: #4f4f4f;
$pal-1_gray-2: #757575;
$pal-1_gray-3: #b8b8b8;
$pal-1_gray-4: #d3d3d3;
$pal-1_white: #fdfdfd;

//--pastls scales opt #2 --//
//url: https://www.colourlovers.com/palette/921552/Related_To...
$warm_gray: #b3b3b5;
$warm_gray-oj: #c1b0a6;
$warm_oj-1: #cfad97; //primary
$warm_oj-2: #dda987;
$warm_oj-3: #eba678;

//-- social media colors -- //
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-instagram: #bc2a8d;
$color-pinterest: #e60023;
