// @import "~bootstrap/scss/bootstrap";
@import './mixins';
@import './Main.scss';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


//test11
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

@import '~bootstrap/scss/bootstrap';
$theme-font: 'Muli', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$test-font: 'Caveat', cursive;

//tests


$test_11: 'Syncopate', sans-serif;


body {
  font-family: $quicksand;
  background-color: #e6f5fd;
  @include fluid;
  height: 100%;
}
*,
::after,
::before {
  box-sizing: border-box;
}
