//--------------------
// Fonts
//--------------------

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$theme-font: 'Muli', sans-serif;
$quicksand: 'Quicksand', sans-serif;

//--------------------
// paletas de colores
//--------------------

//-- gray scales --//
$pal-1_dark: #202020;
$pal-1_gray-1: #4f4f4f;
$pal-1_gray-2: #757575;
$pal-1_gray-3: #b8b8b8;
$pal-1_gray-4: #d3d3d3;

$pal-2_dark: #121212;
$pal-2_light-dark: #262626;
$pal-2_gray-1: #bababa;
$pal-2_light-gray: #ebebeb;
$pal-2_white: #fdfdfd;
//-- --//

//--pastls scales opt #1 --//
// url: https://www.colourlovers.com/palette/2995702/Winter_is_coming
$winter_dark: #586875;
$winter_aqua: #a5c8ca;
$winter_mid-aqua: #bdd6d2;
$winter_mid-sand: #e3e5d7;
$winter-sand: #f6eddc;

//--pastls scales opt #2 --//
//url: https://www.colourlovers.com/palette/921552/Related_To...
$warm_gray: #b3b3b5;
$warm_gray-oj: #c1b0a6;
$warm_oj-1: #cfad97;
$warm_oj-2: #dda987;
$warm_oj-3: #eba678;

//-- social media colors -- //
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-instagram: #bc2a8d;
$color-pinterest: #e60023;

//--------------------
// Media Queries
//--------------------
@mixin breakpoint($point) {
  @if $point == xldevice {
    @media (min-width: 2200px) {
      @content;
    }
  } @else if $point == largedevice {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == tablet_land {
    @media (orientation: landscape) and (min-width: 768px) {
      @content;
    }
  } @else if $point == tablet_port {
    @media (orientation: portrait) and (min-width: 768px)  {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 575.999px) {
      @content;
    }
  }
}

@mixin TRBL {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin fluid {
  margin: 0%;
  padding: 0%;
}

@mixin centerFlex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
}
@mixin startFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin keyframes {
  @keyframes bg {
    0% {
      background-size: 0 1px, 1px 0, 0 1px, 1px 0;
    }
    25% {
      background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
    }
    50% {
      background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
    }
    75% {
      background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
    }
    100% {
      background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    }
  }
}

@mixin animationBorder {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to bottom, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to right, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to bottom, $warm_oj-1 100%, $warm_oj-1 100%);
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}

@mixin grayscale {
  filter: url('#grayscale');
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: Gray();
}

@mixin nograyscale {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
}

@mixin transition_ease_out2 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@mixin transition_ease_out3 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

//--------------------
// Responsive Fonts
//--------------------

// @mixin textResponsive {
//   font-size: calc(0.75rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
// }
// @mixin textFooterResponsive {
//   font-size: calc(0.5rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
// }

// @mixin titleResponsive {
//   font-size: calc(1.5rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
// }
// @mixin textAboutResponsive {
//   font-size: calc(1em + (48- 22) * (100vw - 576px) / (2200 - 576));
// }

$breakpoints: (
  small: 480px,
  medium: 700px,
  medium_large: 900px,
  large: 1024px,
  large_xl: 1440px,
  large_xxl: 1721px,
);
$h1-font-sizes: (
  null: 18px,
  small: 20px,
  medium: 23px,
  medium_large: 28px,
  large: 28px,
  large_xl: 30px,
  large_xxl: 30px,
);

$p-font-sizes: (
  null: 12px,
  small: 14px,
  medium: 16px,
  medium_large: 18px,
  large: 21px,
  large_xl: 23px,
  large_xxl: 25px,
);

$a-font-sizes: (
  null: 9px,
  small: 10px,
  medium: 10px,
  medium_large: 12px,
  large: 14px,
  large_xl: 16px,
  large_xxl: 17px,
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    } @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}
@mixin make-font-size($fs-font-size) {
  @if type-of($fs-font-size) == 'list' {
    font-size: nth($fs-font-size, 1);
    // @if (length($fs-font-size) > 1) {
    //   line-height: nth($fs-font-size, 2);
    // }
  } @else {
    font-size: $fs-font-size;
  }
}
