@import "../../../styles/variables";
@import "../../../styles/mixins";

.input__text__wrapper {
  width: 100%;
  border: 0;
  @include fluid;
  display: inline-flex;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  label.light {
    color: $warm_oj-1;
  }
  .input__inner {
    position: relative;
    margin-top: 16px;
    input {
      outline: none;
      font: inherit;
      width: 100%;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 6px 0 7px 6px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
    }
    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      pointer-events: none;
    }
    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      pointer-events: none;
    }
    &.dark:before {
      border-bottom: 1px solid $pal-1_dark;
    }
    &.dark:after {
      border-bottom: 2px solid $warm_oj-1;
    }
    &.light:before {
      border-bottom: 1px solid $warm_oj-1;
    }
    &.light:after {
      border-bottom: 2px solid $pal-1_gray-3;
    }
    &.light input {
      color: white;
    }
  }
}
.InputLabel-root {
  display: block;
  transform-origin: top left;
}
.InputLabel-animated {
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.InputLabel-formControl {
  top: 0;
  left: 6px;
  position: absolute;
  transform: translate(0, 22px) scale(1);
}
.input__inner:hover:before {
  border-bottom: 2px solid $pal-1_dark;
}
.input__inner.light:hover:before {
  border-bottom: 2px solid $warm_oj-1;
}
.InputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}
.InputLabel-focused {
  color: $warm_oj-1;
}
.InputLabel-focused-light {
  color: $pal-1_gray-3;
}
.input__inner.InputLabel-focused:after,
.input__inner.InputLabel-focused-light:after {
  transform: scaleX(1);
}
