@import '../../Vars.scss';

.footer__container {
  display: flex;
  @include fluid;
  align-self: flex-end;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: yellow;
  overflow: hidden;

  .footer__section-logo {
    width: 15%;
    background-color: magenta;
    padding: 1rem;
    margin: 1rem;
    img {
      max-width: 100%;
      min-width: 50px;
      height: auto;
    }
  }

  .footer__nav {
    background-color: gray;
    padding: 1rem;
    margin: 1rem;
    width: 17.5%;
    &--content {
      border: 1px red solid;
      @include textResponsive;
    }
  }
  .footer__newsletter {
    background-color: yellowgreen;
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    &--content {
      border: 1px green solid;
      @include textResponsive;
    }
  }

  .footer__social {
    background-color: bisque;
    padding: 1rem;
    margin: 1rem;
    width: 17.5%;
    &--content {
      border: 1px magenta solid;
      @include textResponsive;
    }
  }
}
