@import '../../Vars.scss';

.footer__container {
  h2 {
    color: $pal-1_gray-2;
  }
  a,
  p,
  span {
    color: $warm_gray;
  }
  a,
  p,
  h2,
  p {
    @include textResponsive;
    @include breakpoint(mobile) {
      @include textFooterResponsive;
    }
  }

  @include centerFlex;
  @include fluid;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: $pal-2_dark;
  overflow: hidden;
}

.footer__section-logo {
  // background-color: red;
  width: 18%;
  padding: 0.5rem;
  margin: auto;
  text-align: center;
  @include breakpoint(mobile) {
    display: none;
  }
  img {
    max-width: 70%;
    min-width: 50px;
    height: auto;
    margin-top: 2rem;
  }
}

.footer__nav {
  // background-color: bisque;
  // @include centerFlex;
  width: 12.333%;
  text-align: center;
  // margin-top: 1rem;
  @include breakpoint(mobile) {
    width: 20%;
  }
  &--content {
    // border: 2px red solid;
    // @include fluid;
    margin-top: 2rem;

    &--items {
      margin-top: 0.125rem;
      @include breakpoint(mobile) {
        margin-top: 0;
      }
      & a {
        text-align: center;
        color: $warm_gray;
      }
      & a:hover {
        color: $warm_oj-1;
        opacity: 0.9;
      }
    }
  }
  ul {
    display: inline;
  }
}

.footer__newsletter {
  // background-color: yellow;
  text-align: center;
  width: 40.333%;

  // margin-top: 1rem;
  // @include centerFlex;
  @include breakpoint(mobile) {
    width: 50%;
  }
  &--content {
    // border: 2px red solid;
    margin-top: 2rem;
    .sendButton {
      cursor: pointer;
    }

    form {
      display: flex;
      justify-content: center;
      input {
        width: 70%;
        float: left;
        height: 25px;
        text-align: center;
        font-family: inherit;

        @include textFooterResponsive;
        outline: 0;
        &[type='email'] {
          border: 1px solid lighten($pal-2_white, 50%);
          background-color: $pal-2_white;
          &:focus {
            border-color: $warm_oj-1;
          }
        }
      }
    }

    .footer__newsletter--button {
      background-color: transparent;
      @include fluid;
      border: none;
      outline: 0;
    }
  }
}

.footer__social {
  // background-color: palegreen;
  width: 29.333%;
  // margin-top: 1rem;
  @include breakpoint(mobile) {
    width: 30%;
  }
  &--content {
    // border: 2px red solid;
    margin-top: 2rem;

    &--items {
      @include textFooterResponsive;
      margin: 5% 0% 1rem 30%;
      // @include centerFlex;
    }
  }
}

.footer__quote {
  color: $warm_gray;
  background-color: $pal-2_dark;
  padding-bottom: 0.75rem;
  text-align: center;
  small {
    border-top: 1px $warm_oj-1 solid;
  }
}
