@import '../../Vars.scss';

.footer__container {
  display: flex;
  @include fluid;
  align-self: flex-end;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: $pal-1_dark;
  overflow: hidden;

  .footer__section-logo {
    width: 18%;
    // background-color: magenta;
    // padding: 0.25rem;
    padding: 0.5rem;
    justify-content: center;
    img {
      max-width: 100%;
      min-width: 50px;
      height: auto;
      margin: 15% 0%;
    }
  }

  .footer__nav {
    display: flex;
    // background-color: gray;
    padding: 0.75rem;
    // margin: 0.5rem;

    justify-content: center;
    width: 27.333%;
    &--content {
      & h2 {
        color: $pal-1_gray-1;
      }
      // border: 1px red solid;
      @include fluid;
      @include textResponsive;
      &--items {
        margin-top: 0.75rem;
      }
    }
  }
  .footer__newsletter {
    background-color: yellowgreen;
    // padding: 0.25rem;
    margin: 0.25rem;
    width: 27.333%;
    &--content {
      border: 1px green solid;
      @include textResponsive;
    }
  }

  .footer__social {
    background-color: bisque;
    // padding: 0.25rem;
    margin: 0.25rem;
    width: 27.333%;
    &--content {
      border: 1px magenta solid;
      @include textResponsive;
    }
  }
}
