@import '../../Vars.scss';

#social_link {
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: none;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
.banner__social-media {
  .social__wrapper {
    background: $pal-2_light-dark;
    position: relative;
    left: 0;
    border-radius: 0px 10px 0px 0px;
    transition: all 0.3s ease-out;
  }
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 35%;
  @include breakpoint(mobile) {
    top: 25%;
  }
}
.banner__social-media .hide {
    left: -40px;
}
.banner__sm-item {
  height: auto;
  width: 28px;
  text-shadow: 1px 1px 2px black;
  line-height: 48px;
  color: $warm_oj-1;
  padding: 0.75rem 0.5rem 0.75rem 0rem;
  display: block;

  // &:hover {
  //   background-color: $warm_gray;
  // }
  // &:focus {
  //   background-color: $pal-1_gray-2;
  // }
}

.banner__social--showHide {
  transition: all 0.5s ease-out;
  background: $pal-2_light-dark;
  & button {
    outline: 0;
    background-color: transparent;
    color: none;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.withBorder {
  border-radius: 0 0 10px 0;
}
.noBorder {
  border-radius: 0 10px 10px 0;
}

#twitter:hover {
  color: $color-twitter;
}
#facebook:hover {
  color: $color-facebook;
}
#instagram:hover {
  color: $color-instagram;
}
#pinterest:hover {
  color: $color-pinterest;
}
