@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/keyframes';

.about__bio-content {
  @include flex;
  width: 100%;
  height: auto;
  // background-color: salmon;
  padding: 1rem;

  &--left-section {
    // background-color: wheat;
    @include centerFlex;
    &--text {
      margin: 1rem;
      @include breakpoint(mobile) {
        // margin: 2rem 3rem;
      }
      @include keyframes;
      @include animationBorder;
      &:hover {
        animation-play-state: running;
      }

      & p {
        line-height: 3rem;
        @include font-size($a-font-sizes);
        text-align: center;
        margin: 1rem;
      }
      & h1 {
        @extend p;
        // @include fluid;
        @include font-size($h1-font-sizes);
      }
    }
  }

  &--right-section {
    // background-color: darkcyan;
    @include centerFlex;
    &--images {
      @include centerFlex;
      height: auto;
      & img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 5%;
        @include transition_ease1;
        @include breakpoint(mobile) {
          width: 95%;
        }
      }
      & img:hover {
        @include transition_ease1;
        box-shadow: 0 1.5px 3px 0 $pal-1_gray-1;
        // border-radius: 10%;
        transform: scale(1.05);
      }
    }
  }
}

.about__mission-container {
  // background-color: $pal-1_white;
  .about__mission-row {
    padding-bottom: 2rem;
    &--images {
      &--items {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.about__banner-desc-content {
  padding-top: 2rem;
  // background-color:violet;
  text-align: center;
  &--title {
    @include font-size($h1-font-sizes);
    &::after {
      content: '';
      display: block;
      border-bottom: 3px solid $warm_oj-1;
      margin: 0 auto;
      width: 30%;
      padding-top: 10px;
      border-radius: 2.5px;
    }
  }
  &--text {
    margin: 2rem;
    &::after {
      content: '';
      display: block;
      border-bottom: 1px $pal-1_gray-4 solid;
      padding-top: 10px;
    }
  }
}
// .about__desc-content {
//   // background-color: salmon;

//   margin: 2rem auto;
//   &--left-section {
//     background-color: rebeccapurple;
//     margin: auto;
//     &--images {
//       margin: auto;
//       border: 3px red solid;

//       & img {
//         width: 90%;
//         height: auto;
//       }
//     }
//   }
// }
