@import '../../../styles/main.scss';

.about__container {
  margin-top: 50px;
  height: auto;
  background-color: $pal-2_light-gray;
  overflow: hidden;
  width: 100%;
}
.dyv__row {
  @include breakpoint(mobile) {
    display: block !important;
  }
}
.about__hero {
  background-image: url('./assets/test_ban_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  // opacity: 0.7;
  & h1 {
    margin: 25%;
    color: $warm_gray;
  }
}

.about__bio-content {
  @include flex;
  width: 100%;
  height: auto;
  @include breakpoint(mobile) {
    display: block;
  }

  .about__left-section {
    @include centerFlex;

    &--content {
      // background-color: palegreen;
      margin: 1rem 3% 1rem 7%;
      @include keyframes;
      @include animationBorder;
      &:hover {
        animation-play-state: running;
      }
      & p {
        @include font-size($p-font-sizes);
        text-align: center;
        margin: 0.75rem;
        @include breakpoint(largedevice) {
          line-height: 3.5rem;
        }
        @include breakpoint(desktop) {
          line-height: 2.25rem;
        }
        @include breakpoint(laptop) {
          line-height: 1.75rem;
        }
      }
      & h1 {
        @extend p;
        @include fluid;
        @include font-size($h1-font-sizes);
      }
    }
  }

  .about__right-section {
    // background-color: saddlebrown;
    @include centerFlex;
    &--content {
      @include centerFlex;
      height: auto;
      & img {
        @include grayscale;
        @include transition_ease_out3;
        width: 90%;
        height: auto;
        margin: 5%;
      }
      & img:hover {
        @include nograyscale;
        @include transition_ease_out3;
        box-shadow: 0 1.5px 3px 0 $winter_dark;
      }
    }
  }
}

.about__banner-card-detail {
  @include centerFlex;
  z-index: 2;
  background-color: $pal-2_light-dark;
  margin: 1rem;
  border-radius: 5px;
  @include transition_ease1;
  &:hover {
    transform: scale(1.025);
  }
  svg {
    margin: 1rem 0.125rem;
    width: 100%;
    @include centerFlex;
  }
  p {
    text-align: center;
    color: $warm_gray;
    @include breakpoint(mobile) {
      @include font-size($small-font-sizes);
    }
    @include breakpoint(desktop) {
      @include font-size($p-font-sizes);
    }
  }
}

.about__skill {
  width: 100%;
  height: auto;
  background-color: $pal-1_gray-2;
  &--content {
    // height: auto;
    &--item_1 {
      background-color: $pal-1_dark;
      color: $pal-2_white;
    }
    &--item_2 {
      background-color: $pal-2_white;
      color: $pal-1_dark;
    }
    &--item_3 {
      background-color: $pal-1_dark;
      color: $pal-2_white;
    }
  }
}
