@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/keyframes';

.about__bio-content {
  @include flex;
  width: 100%;
  height: auto;
  background-color: salmon;
  padding: 1rem;

  .about__left-section {
    background-color: wheat;
    @include centerFlex;
    &--content {
      margin: 1rem 1rem 1rem 10%;
      @include keyframes;
      @include animationBorder;
      &:hover {
        animation-play-state: running;
      }

      & p {
        @include font-size($p-font-sizes);
        text-align: center;
        margin: 0.75rem;
        @include breakpoint(largedevice) {
          line-height: 3.5rem;
        }
        @include breakpoint(desktop) {
          line-height: 2.25rem;
        }
        @include breakpoint(laptop) {
          line-height: 1.75rem;
        }
      }
      & h1 {
        @extend p;
        @include fluid;
        @include font-size($h1-font-sizes);
      }
    }
  }

  .about__right-section {
    background-color: darkcyan;
    @include centerFlex;
    &--content {
      @include centerFlex;
      height: auto;
      & img {
        @include grayscale;
        @include transition_ease_out3;
        width: 80%;
        height: auto;
        padding: 0;
        margin: 5%;
        @include breakpoint(mobile) {
          width: 95%;
        }
      }
      & img:hover {
        @include nograyscale;
        @include transition_ease_out3;
        box-shadow: 0 1.5px 3px 0 $pal-1_gray-3;
      }
    }
  }
}

.banner__container {
  background-image: linear-gradient(to right, $pal-1_gray-2, $pal-1_gray-1);
  padding: 2rem;
}
.banner__cols {
  @include centerFlex;
  &--icons {
    @include transition_ease1;
    opacity: 0.55;
    border-radius: 5px;
    background-color: $pal-1_gray-3;
    @include centerFlex;
    @include breakpoint(largedevice) {
      width: 60%;
    }
    @include breakpoint(largedevice) {
      width: 70%;
    }
    @include breakpoint(desktop) {
      width: 60%;
    }
    @include breakpoint(mobile) {
      width: 50%;
    }
    &:hover {
      opacity: 1;
      background-color: $pal-1_gray-3;
    }
  }
  &--title {
    color: $pal-1_dark;
    text-align: center;
    @include font-size($p-font-sizes);
  }
}
