@import "../../../styles/variables";
.carousel__container {
// border-top: 1px solid $warm_oj-1;
border-bottom: 1px solid $warm_oj-1;
padding: 1rem;
}

.carousel__image {
  display: block;
  width: 100%;
  height: auto;
}

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   height: 100px;
//   width: 100px;
//   // outline: black;
//   background-size: 100%, 100%;
//   border-radius: 50%;
//   // border: 1px solid black;
//   background-image: none;
// }

// .carousel-control-next-icon:after
// {
//   content: '>';
//   font-size: 55px;
//   // color:$warm_oj-1;
//   color:$pal-1_dark;
// }

// .carousel-control-prev-icon:after {
//   content: '<';
//   font-size: 55px;
//   color:$pal-1_dark;
// }

// .carousel-control-next,
// .carousel-control-prev /*, .carousel-indicators */ {
//     filter: invert(90%);
// }

