@import "../../../styles/variables";
@import "../../../styles/fonts";
.carousel__container {
// border-top: 1px solid $warm_oj-1;
border-bottom: 1px solid $warm_oj-1;
padding: 1rem;
& .carousel__caption {
  @include font-size($h1-font-sizes);
  font-weight: bolder;
  color: $pal-1_white
}
}

.carousel__image {
  display: block;
  width: 100%;
  height: auto;
}

