@import '../../../styles/variables';
@import '../../../styles/media';
@import '../../../styles/animations';
@import '../../../styles/mixins';
@import '../../../styles/fonts';

.skills__container {
  @include transition_all;

  .skills__images {
    width: 100%;
    height: auto;
    @include breakpoint(mobile) {
      width: 70%;
      height: auto;
    }
  }

  &--row {
    @include centerFlex;

    padding: 1.25rem 0;
    margin: 1.25rem 0;
    border: 1px solid $pal-1_gray-4;
    &:hover {
      border: 1px solid $pal-1_gray-3;
    }
    &--left {
      @include centerFlex;
    }
    &--right {
      @include centerFlex;
    }
    p {
      @include font-size($a-font-sizes);
    }
  }
}
