@import '../../../styles/Vars.scss';

.home__container {
  @include fluid;
  height: auto;
  margin-top: 50px;
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  @include breakpoint(mobile) {
    display: block;
    overflow: hidden;
    height: auto;
  }
  @include breakpoint(tablet_port) {
    height: 80vh;
  }
}

.home__left-section {
  background-color: $pal-2_light-gray;
  width: 70%;
  height: auto;
  overflow: visible;
  z-index: 100;

  @include breakpoint(mobile) {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .home__left-content {
    width: 100%;
    &--aside {
      img {
        position: relative;
        z-index: 100;
        width: 95%;
        box-shadow: 0px 0px 28px -6px $pal-1_dark;
        border-radius: 5px;
        margin: 8% 0rem 15% 8%;

        @include breakpoint(mobile) {
          margin: 24.5% 5%;
          width: 90%;
        }
        @include breakpoint(desktop) {
        }
        @include breakpoint(tablet_port) {
          margin: 50% 7%;
          width: 100%;
        }
      }
    }
  }
}

.home__right-section {
  background-color: $pal-1_dark;
  width: 30%;
  height: auto;
  z-index: 99;
  padding: 10% 0 0 0;

  @include breakpoint(mobile) {
    width: 100%;
    height: auto;
  }

  .home__right-content {
    @include breakpoint(mobile) {
      padding: 1rem;
    }
    &--aside {
      margin: 1% 10% 10% 10%;
      width: auto;
      height: auto;
      text-align: end;
      @include breakpoint(mobile) {
        text-align: center;
      }
      @include breakpoint(tablet_port) {
        margin: 100% 15%;
        width: 90%;
      }

      p {
        text-align: center;
        margin: 15% 1%;
        color: $pal-2_white;
        @include textResponsive;
        @include breakpoint(mobile) {
          margin: 0% 5% 7% 5%;
        }
      }
      & img {
        width: 80%;
        height: auto;
        margin: 0 10%;
        @include breakpoint(mobile) {
          margin: 5%;
          width: 40%;
          // height: auto;
        }
      }
    }
  }
}
