@import '../../../styles/animations';
@import '../../../styles/variables.module';
@import '../../../styles/mixins';

.button {
  @include flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  svg {
    height: 55px;
    width: 150px;
    fill: none;
    stroke-width: 2;
    border-radius: 2px;

    .o1 {
      stroke: rgba(#cfad97, 0.7);
      fill: $warm_oj-1;
      @include transition_ease_out1;
    }

    .o2 {
      stroke: white;
      stroke-dasharray: 20 420;
      stroke-dashoffset: 20;
      @include transition_ease_out1;
    }
  }

  span {
    position: absolute;
    margin: 0 auto;
    letter-spacing: 2px;
    text-decoration: none;
    & a {
      text-decoration: none !important;
      color: $pal-1_white !important;
    }
  }

  &:hover {
    .o1 {
      fill: rgba(#cfad97, 0.3);
    }

    .o2 {
      stroke-dashoffset: -420;
    }
  }
}
