@import "../../../styles/fonts";
@import "../../../styles/media";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.footer__container {
  position: relative;
  background-color: $pal-1_dark;
  overflow: hidden;
}

.footer__section-logo {
  @include centerFlex;
  @include breakpoint(mobile) {
    display: none;
  }
  img {
    width: 90%;
    min-width: 50px;
    height: auto;
    margin: auto;
    @include breakpoint(tablet) {
      margin: 0 auto;
    }
  }
}

.footer__nav {
  text-align: center;
  ul {
    margin: 0 auto;
  }
  &--content {
    margin-top: 2rem;
    & h1 {
      @include font-size($p-font-sizes);
      color: $pal-1_gray-2;
    }

    &--items {
      & a {
        @include font-size($a-font-sizes);
        color: $pal-1_gray-3;
        &:hover {
          color: $warm_oj-1;
          text-decoration: none;
        }
      }
      @include breakpoint(desktop) {
        margin-top: 0.75rem;
      }
      @include breakpoint(mobile) {
        margin-bottom: 0.125rem;
      }
    }
  }
}

.footer__newsletter {
  text-align: center;
  &--content {
    margin-top: 2rem;
    & h1 {
      @include font-size($p-font-sizes);
      color: $pal-1_gray-2;
    }
    & p {
      @include font-size($a-font-sizes);
      margin: 1.25rem auto;
      color: $pal-1_gray-3;
    }

    form {
      @include centerFlex;
      .footer__newsletter--button {
        background-color: transparent;
        // @include fluid;
        border: none;
        outline: 0;
        .sendButton {
          bottom: 0;
          cursor: pointer;
          height: auto;
          fill: $pal-1_gray-3;
          width: 45px;
          @include breakpoint(mobile) {
            width: 25px;
          }
        }
      }
    }
  }
}

.footer__social {
  a {
    text-decoration: none !important;
  }
  text-align: center;
  &--content {
    margin-top: 2rem;
    & h1 {
      @include font-size($p-font-sizes);
      color: $pal-1_gray-2;
    }
    ul {
      margin: 0 auto;
    }

    &--items {
      @include startFlex;
      margin: 1rem 0;
      svg {
        margin: 0 1rem;
      }
      span {
        @include font-size($a-font-sizes);
        text-transform: lowercase;
        color: $pal-1_gray-3;
        &:hover {
          color: $warm_oj-1;
        }
      }
    }
  }
}

.footer__quote {
  color: $warm_gray;
  background-color: $pal-1_dark;
  padding: 1.125rem 0 0;
  text-align: center;

  small {
    border-top: 1px $warm_oj-1 solid;
    svg {
      fill: red;
    }
  }
}
