@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.menu__links {
  text-decoration: none;
  display: table-cell;
  position: relative;
  padding: 10px 0;
}
.menu__names {
  @include breakpoint(desktop) {
    margin-right: 0;
  }
  @include breakpoint(mobile) {
    margin-right: 1.5rem;
  }
}

li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  @include font-size($small-font-sizes);
}
ul {
  @include fluid;
  list-style: none;
  display: table;
  text-align: center;
}
.menu__container {
  width: 100%;
  height: 50px;
  line-height: 30px;
  background-color: $pal-1_dark;
  position: fixed;
  z-index: 9999;
}
.brand {
  cursor: pointer;
  width: auto;
  height: 32px;
  float: left;
  margin: 0.5rem 0 0 3%;
  color: $pal-1_gray-4;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
.menu {
  width: 50%;
  height: 100%;
  float: right;
  background-color: $pal-1_dark;
  // margin-right: 5%;

  ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    @include flex;

    .menu__links {
      width: 15%;
      height: inherit;
      color: $pal-1_gray-4;
      display: inline-block;

      &:hover {
        color: $warm_oj-1;
        opacity: 1;
        text-decoration: none;
        &::after {
          width: 100%;
          left: 0;
        }
      }
      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: $warm_oj-1;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
    }
  }
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}
.menu__home-icon {
  font-size: 1.5rem;
  @include breakpoint(desktop) {
    margin-right: 0;
  }
  @include breakpoint(mobile) {
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      @include maxHeight_3;

      .menu__links {
        text-align: right;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding: 15px 5% 0 0;
        &:hover {
          color: $warm_oj-1;
          opacity: 0.5;
          text-decoration: none;
        }
      }
    }
  }
  .menu-icon {
    width: 115px;
    height: inherit;
    display: block;
    position: absolute;
    top: 15%;
    right: 0;
    line-height: 40px;

    color: $warm_oj-1;
  }
  #menuToggle {
    &:checked {
      ~ {
        ul {
          max-height: 350px;
        }
      }
    }
  }
  .menu__icon-bars {
    font-size: 1.5em;
    color: $warm_oj-1;
  }
}

.menu__language {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: 0px;

  &--esp {
    text-decoration: none;
    margin-right: 0.5rem;
    & img {
      transition: transform 0.3s;
      width: 24px;
      height: auto;
    }
    & img:hover {
      transform: scale(1.2);
    }
  }
  &--eng {
    text-decoration: none;
    margin-right: 0.75rem;
    & img {
      width: 24px;
      height: auto;
      transition: transform 0.3s;
    }
    & img:hover {
      transform: scale(1.2);
    }
  }
}
