@import '../../../styles/Main.scss';

.allies__container {
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: $pal-1_gray-4;
  background-color: $pal-1_gray-5;
}
.allies__image {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.allies__socialMedia {
  @include endFlex;
  & a {
    color: $warm_oj-1;
    font-size: 2rem;
    & :hover {
      color: $warm_oj-3;
    }
  }
}
