@import '../../../styles/animations';
@import '../../../styles/fonts';
@import '../../../styles/keyframes';
@import '../../../styles/media';
@import '../../../styles/mixins';
@import '../../../styles/variables.module';

.allies__image {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.allies__socialMedia {
  @include endFlex;
}
