@import './Vars.scss';
.home__container {
  @include fluid;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  @include breakpoint(mobile) {
    display: block;
    overflow: hidden;
  }
}

.home__left-section {
  background-color: red;
  width: 75%;
  height: 100%;
  .home__left-content {
    padding: 3rem 1rem 1rem 1rem;
    border: 1px yellowgreen solid;
    height: 50%;
    .home__left-content--aside {
      width: auto;
      height: 50%;
      border: 1px black solid;
    }
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 50%;
  }
}

.home__right-section {
  background-color: blue;
  width: 25%;
  height: 100%;
  .home__right-content {
    padding: 3rem 1rem 1rem 1rem;
    border: 1px yellowgreen solid;
    height: 50%;
    .home__right-content--aside {
      width: auto;
      height: 50%;
      border: 1px black solid;
    }
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 50%;
  }
}
