.home__container {
  background-image: url('../statics//images//dvanguardiavzla_16110600_604575043000531_4951179127064363008_n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
