@import './Vars.scss';
span {
  font-family: $header-font;
  color: $color_light-white;
  font-size: 0.75rem;
}
.lang__position--es {
  position: absolute;
  width: 76px;
  height: 56px;
  left: 190px;
  top: 50px;
  @include breakpoint(mobileonly) {
    left: 110px;
  }
}
.lang__position--en {
  position: absolute;
  width: 76px;
  height: 56px;
  left: 260px;
  top: 50px;
  @include breakpoint(mobileonly) {
    left: 140px;
  }
}
