//--------------------
// Fonts
//--------------------

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$theme-font: 'Muli', sans-serif;
$quicksand: 'Quicksand', sans-serif;

//--------------------
// paletas de colores
//--------------------

//-- gray scales --//
$pal-1_dark: #202020;
$pal-1_gray-1: #4f4f4f;
$pal-1_gray-2: #757575;
$pal-1_gray-3: #b8b8b8;
$pal-1_gray-4: #d3d3d3;

$pal-2_dark: #121212;
$pal-2_light-dark: #262626;
$pal-2_gray-1: #bababa;
$pal-2_light-gray: #ebebeb;
$pal-2_white: #fdfdfd;
//-- --//

//--pastls scales opt #1 --//
// url: https://www.colourlovers.com/palette/2995702/Winter_is_coming
$winter_dark: #586875;
$winter_aqua: #a5c8ca;
$winter_mid-aqua: #bdd6d2;
$winter_mid-sand: #e3e5d7;
$winter-sand: #f6eddc;

//--pastls scales opt #2 --//
//url: https://www.colourlovers.com/palette/921552/Related_To...
$warm_gray: #b3b3b5;
$warm_gray-oj: #c1b0a6;
$warm_oj-1: #cfad97;
$warm_oj-2: #dda987;
$warm_oj-3: #eba678;

//-- social media colors -- //
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-instagram: #bc2a8d;
$color-pinterest: #e60023;

//--------------------
// Media Queries
//--------------------
@mixin breakpoint($point) {
  @if $point == xldevice {
    @media (min-width: 2200px) {
      @content;
    }
  } @else if $point == largedevice {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == tablet_land {
    @media (orientation: landscape) and (min-width: 768px) {
      @content;
    }
  } @else if $point == tablet_port {
    @media (orientation: portrait) and (min-width: 768px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 575.999px) {
      @content;
    }
  }
}

@mixin TRBL {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin fluid {
  margin: 0%;
  padding: 0%;
}

@mixin centerFlex {
  display: flex;
  justify-content: flex-start;
}

@mixin textResponsive {
  font-size: calc(0.75rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
}
@mixin textFooterResponsive {
  font-size: calc(0.5rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
}

@mixin titleResponsive {
  font-size: calc(1.5rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
}

@mixin keyframes {
  @keyframes bg {
    0% {
      background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
      background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
      background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
      background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
      background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
  }
}

@mixin animationBorder {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to bottom, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to right, $warm_oj-1 100%, $warm_oj-1 100%),
    linear-gradient(to bottom, $warm_oj-1 100%, $warm_oj-1 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}
